/* global styles */

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgba(33, 37, 41, 1);
}

p {
    margin: 0;
}

.gallery-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

    @media screen and (min-width: $mobile) {
        min-width: $mobile;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: $tablet) {
        min-width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        min-width: $desktop;
    }
}

// search form styles

.search-container {
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    background-color: #006633;
    box-shadow: 2px 2px 4px 0px rgba(33, 37, 41, 0.35);

    z-index: 1;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-form__input {
    min-width: 40%;
    max-width: 60%;
    padding: 10px;

    font-size: 1.25em;
    font-weight: 300;

    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    background-color: #EDF1E9;

    &:hover,
    &:focus {
        background-color: #F5F7F3;
    }
}

.search-form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4.5em;
    width: 6em;
    border: none;
    background-color: #6DAE81;

    border-radius: 0 4px 4px 0;
    cursor: pointer;

    font-size: 1.25em;
    font-weight: 500;

    &:hover,
    &:focus {
        background-color: #47A76A;
        transition: all 0.5s;
    }
}

// gallery section styles

.gallery,
.info {
    display: flex;
    flex-wrap: wrap;
}

.gallery {
    margin-left: -20px;
    padding-top: 60px;
    justify-content: center;
}

.gallery-link {
    margin-top: 20px;
    margin-left: 20px;
    min-width: 500px;
    flex-basis: calc((100%) / 5 );
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0px rgba(33, 37, 41, 0.35);

    overflow: hidden;
    transition: all 0.4s;
    
    &:hover,
    &:focus {
    transform: scale(1.03);
    box-shadow: 4px 4px 8px 0px rgba(33, 37, 41, 0.35);
    }
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gallery-item__image {
    display: block;
    height: 300px;
    object-fit: cover;

    border-bottom: 1px solid rgb(24%, 17%, 12%, 0.3);
}

.info {
    justify-content: space-around;
    padding: 10px;

    background-color: #EDF1E9;
}

.info__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 500;

    &:not(:first-child) {
    margin-left: 5px;
    }
}

.info__item-name {
    font-weight: 700;
}

//load more button styles

.load-button.is-hidden {
    display: none;
    transform: all 0.3s;
}

.load-button {
    display: block;
    min-width: 8em;
    margin: 30px auto 0 auto;
    padding: 10px 10px;

    border: none;
    border-radius: 5px;
    background-color: #006633;
    box-shadow: 2px 2px 4px 0px rgba(33, 37, 41, 0.35);

    font-size: 1.25em;
    font-weight: 500;
    color: #ffffff;
 
    &:hover,
    &:focus {
    transform: scale(1.05) 0.3s;
    box-shadow: 2px 2px 4px 0px rgba(33, 37, 41, 0.35);
    }
}

